<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 3rd Party Libraries -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="/js/jquery-3.4.1.js"></script>
  <script defer src="/js/popper.js"></script>
  <script defer src="/js/bootstrap.js"></script>

  <!-- Our App logic and style -->
  <link rel="stylesheet" href="/app/common.css">
  <script defer src="../app/myprofile.js"></script>
  <title>Document</title>
</head>
<body style="background-image: url('/pics/bgpic3.gif')">
  <div id="navbar"></div>
  <div style="text-align: center; padding: 30px; min-height: 700px;" id="content"></div>
  <div id="footer"></div>
</body>
</html>